@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.contenedor {
    display: flex;
    height: 100vh;
}

/* Barra Lateral */

.sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
}

.logo-empresa{
    width: 80px;
    height: 80px;
    margin-left: 60px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.contenido-principal {
    flex: 1;
    padding: 20px;
    background: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Apartado Acciones: Agregar, Eliminar, Modificar */

.acciones {
    display: flex;
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.acciones div{
    padding: 0 25px;
}

.acciones div button{
    padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #14131380;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #29282880;
  transition: 0.5s ease;
}

.acciones div button:hover{
  color: #ffffff;
  background: #CAB596;
  border: 1px solid #CAB596;
  text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
  box-shadow: 0 0 2px #CAB596, 0 0 3px #CAB596, 0 0 4px #CAB596,
    0 0 10px #CAB596;
}

/* Pop up */

.content-header{
    margin: 50px auto 10px auto;
    width: 100%;
}

.content-footer{
    margin: 10px auto 10px auto;
    width: 100%;
}

.modal-content {
    width: 420px;
    height: 700px;
    background: #C4C1BC;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #847977;
    border-radius: 10px;
    padding: 30px 40px;
}

.modal-footer{
    margin-top: 100px;
    border: none;
}

.modal-footer button{
    margin: auto;
}

.model-content h1{
    font-size: 36px;
    text-align: center;
}

.modal-body .form-group{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/* Formulario */

.form-group input{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.form-group select{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding-left: 15px;
}

/* Estadisticas */

.stats {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card h3 {
    font-size: 18px;
    color: #555;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

/* Tabla de base de datos */

.orders {
    margin-top: 20px;
}

.orders table {
    width: 100%;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.orders th, .orders td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* 

.user-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    margin-left: 10px;
}

.hidForm {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #e90404;
    background: white;
    padding: 20px;
    width: 300px;
}

.tasks {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.add-task {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-task:hover {
    background: #0056b3;
}

.task span {
    color: #333;
    flex-grow: 1; 
}

.delete-task {
    background: #333;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.delete-task:hover {
    background: #c82333;
}

.task:hover {
    background: #e9ecef;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

*/